<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <% if (products.length >0 ) { %>
                <h1>ITEMS IN CART</h1>
                <ul class="list" >
                    <% products.forEach (p => { %>
                        <li class="item" >
                            <h3 class="title"><%= p.title %></h3>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" value="<%= p.id %>" name="productId">
                                <button class="btn" type="submit" style="float: right; margin-top: 0.5rem; margin-left: 1rem;">Delete</button>
                                <h3 class="qty">Qty : <%= p.cartItem.quantity %></h3>
                            </form>
                        </li>
                        <br>
                    <% }) %>
                    <hr style="margin-top: 2rem; width: 38rem;">
                    </ul>
                    <form action="/orders" method="POST">
                        <button class="btn" type="submit" style="margin-top: 3rem;">Order Now!</button>
                    </form>
            <% } else { %>
                <h1>Nothing Here...</h1>
            <% } %>
        </main>

        <%- include('../includes/end.ejs') %>